<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obligatorisk Opgave 3</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
        <div class="row">
            <input placeholder="Type word here" v-model="word">
            <button type="button" @click="Show(word)">Show It</button>
        </div>
        <div>
            <ol v-show="showWords">
            <li v-for="(word, index) in words">
                {{ word }}
            </li>
        </ol>
        </div>
        
        <div class="container">
            <table class="table table-striped">
                <tr v-for="(word, index) in words">
                    <td>{{ index }}</td>
                    <td> {{ word }} </td>
                </tr>
            </table>
        </div>
    </div>
    <script src="index.js"></script>
</body>
</html>